@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    
}
body{
    background: rgb(170,128,166);
    background: linear-gradient(90deg, rgba(170,128,166,1) 0%, rgba(166,114,171,1) 20%, rgba(78,72,116,1) 100%); 
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
nav{
    height: 7vh;
    width: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav ul {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
nav ul li {
    margin-right: 3vw;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.083vw;
    transition: font-size 0.5s, color 0.5s;
}
nav ul li a:hover{
    font-weight: bolder;
    color: #fad9fb;
    font-size: 1.4vw;
}


nav a:nth-child(2){
    text-align: right;
    color: white;
    text-decoration: none;
    font-size: 1.083vw;
    width: 10%;
    transition: font-size 0.5s, color 0.5s;

}
.lang:hover{
    font-weight: bolder;
    color: #fad9fb;
    font-size: 1.4vw;
}
.background{
    background-image: url("images/Back.jpg");
    height: 100vh;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.half{
    height: 48vh;
}
.background .content{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: 30px;
    width: 70%;
    height: 60vh;
    margin :auto;
    margin-top: 10vh;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}






.background .text{
    padding-right: 20px;
}
.background .content h1{
    color: white;
    font-size: 3.33vw;
}
.background .content span{
    font-size: 5vw;
    color: #5f426b;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.background .content p{
    text-align: justify;
    text-shadow: 2px 2px 6px rgb(95, 66, 107);
    margin-top: 1vh;
    color: #ffffff;
    font-size: 1.667vw;
}

.background .content .img img{
    width: 25vw;
    height: 100%;
    border-radius: 15px;
    opacity: 80%;
}

.scroll{
    text-align: center;
    margin-top: 10vh;
    color: white;
}
.scroll p{
    font-size: 2.5vw;
}
.scroll img{
    width: 2%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(195deg) brightness(102%) contrast(102%);
    animation: aribapabajo 1s infinite ;
    position: relative;

}
@keyframes aribapabajo {
    0%   {top: 0px;}
    50%  {top: -8px}
    100% {top: 0px;}
    
}


.main{
    width: 75%;
    height: 53vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.main .place{
    width: 30%;
    height: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.main .place .img{
    width: 90%;

}
.main .place .img img{
    position: relative;
    opacity: 90%;
    border-radius: 20px;

}
.main .place .img p{
    color: #FFFFFF;
    display: inline;
    font-size: 1.667vw;

}
.main .place .more a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #5f426b;
    padding: 10px 40px;
    border-radius: 10px;
    transition: all 500ms;
}
.main .place .more a:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
}




.our-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73vw;
    margin: auto;
    padding: 20px;
    height: 100%;
}
.our-contact .half-1 {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
   
}
.our-contact .half-2 {
    margin-top: 3vh;
    width: 47%;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    height: 93%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    
}
.our-contact .half-2 h2{
    color: #FFFFFF;
    font-size: 1.5vw;
    font-style: italic;
}
.our-contact .half-2 form input{
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border-radius: 10px;
    height: 5vh;
    border: none;
    color: #FFFFFF;
    padding: 4%;
    margin-top: 2vh;
    font-size: 1.25vw;

}
.our-contact .half-2 form button{
    width: 100%;
    box-shadow: 0px 10px 14px -7px#5f426b;
    transition: all 500ms;
	background-color:#5f426b;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    border: none;
    margin-top: 4vh;
}

.our-contact form button:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
}

.our-contact .half-1 .team-cart{
    border-radius: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3vh;
}

.our-contact .half-1 .team-cart img{
    width: 7vw;
    border-radius:50%;
    margin-right: 1vw;
}

.our-contact .half-1 .team-cart div{
    color: #FFFFFF;
}




.places{
    width: 75%;
    height: 112vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.places img{
    width: 14vw;
    border-radius: 15px;
}

.places .loc{
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
    border-radius: 15px;
    padding: 15px;
}
.places .loc:nth-child(2){
    flex-direction: row-reverse;
}
.places .loc div{
    height: 90%;
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    text-align-last: center;
}
.loc div h2{
    font-size: 2.5vw;
}
.loc div p{
    font-size: 0.9vw;
}

.loc2 table {
    border-collapse: collapse;
    width: 50%;
    margin: 1vh auto;
    border-spacing: 0;

}

.loc2 table th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    width:50% ;
}
tr{
    transition: background-color 1s ease;
}
.loc2 table tr:hover{
    background-color: #5f426b;
}


.loc2{
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
    border-radius: 15px;
    padding: 15px;
}
.loc2 h2{
    font-size: 2.5vw;
}




footer{
    height: 7vh;
    width: 100%;
    background-color: #191E37;
    display: flex;
    align-items: center;
}
footer div{
    margin: auto;
    width: 70%;
    text-align: center;
    
}
footer p{
    font-size: 0.9vw;
}
footer a{
    color: #A672AB;
    font-weight: bold;
    font-style: italic;
    font-size: 1vw;
}


@media (330px <= width <= 700px) {

    .background{
        background-attachment: unset;
    }

    nav ul li a{
        font-size: 3vw;
    }
    nav a:nth-child(2){
        font-size: 3vw;
        width: 10%;
    }

    .background .content{
        flex-direction: column;
        padding: 2vw;
    }

    .background .content h1{
        font-size: 5vw;
        text-align: center;
    }

    .background .content p{
        font-size: 3.6vw;
        text-align: center;
    }
    .background .content .text{
        padding: 0;
    }
    .background  .content .img{
     
        display: flex;
        justify-content: center;
        height: 40vw;
    }
    .background  .content .img img{
        width: 80%;
    }


    .scroll p{
        font-size: 5vw;
    }
    .scroll img{
        width: 5%;
        margin-top: 1vh;
    
    }

    .scroll{
        margin-top: 15vh;
    }
    .scroll p span{
        display: none;
    }
    .scroll #eng::after{
        content: "Swipe Down";
    }
    .scroll #spn::after{
        content: "Desliza abajo";
    }


    .main{
        width: 75%;
        height: 130vh;
        flex-direction: column;
    }
    .main .place{
        width: 100%;
        height: 80%;
        margin-bottom: 5vh;

    }
    .main .place .img{
        width: 90%;

    }
    .main .place .img img{
        position: relative;
        opacity: 90%;
        border-radius: 20px;

    }
    .main .place .img p{
        color: #FFFFFF;
        display: inline;
        font-size: 4vw;

    }
    .our-contact{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 75vw;
    }
    .half{
        height: 125vh;
    }
    .our-contact .half-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .our-contact .half-1 .team-cart{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 3vh;
    }
    .our-contact .half-1 .team-cart div{
        color: #FFFFFF;
        text-align: justify;
        text-align-last: center;
        word-spacing: -3px
    }
    .our-contact .half-1 .team-cart img{
        width: 15vw;
        border-radius:50%;
        margin-right: 1vw;
    }


    .our-contact .half-2 {
        margin-top: 3vh;
        width: 100%;
    }
    .our-contact .half-2 h2{
        font-size: 4vw;
    }
    .our-contact .half-2 form input{
        font-size: 3vw;
    }
    .our-contact .half-2 form input::placeholder{
        text-align: center;
    }

    .places{
        width: 80%;
        height:130vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
    }
    .places img{
        width: 20vw;
        border-radius: 15px;
    }

    .places .loc{
        flex-direction: column;
        padding: 7px;
    }
    .places .loc:nth-child(2){
        flex-direction: column;
    }
    .loc div h2{
        font-size: 4vw;
    }
    .loc div p{
        font-size: 2.2vw;
    }


    .loc2 table {

        width: 50%;
        margin: 1vh auto;
        border-spacing: 0;

    }

    .loc2 table th, td {
        font-size: 2.2vw;
        text-align: center;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        width:50% ;
    }
    tr{
        transition: background-color 1s ease;
    }
    .loc2 table tr:hover{
        background-color: #5f426b;
    }


    .loc2{
        padding: 7px;
    }
    .loc2 h2{
        font-size: 4vw;
    }


    footer{
        height: 7vh;
        width: 100%;
        background-color: #191E37;
        display: flex;
        align-items: center;
    }
    footer div{
        margin: auto;
        width: 70%;
        text-align: center;

    }
    footer p{
        font-size: 2.4vw;
    }
    footer a{
        color: #A672AB;
        font-weight: bold;
        font-style: italic;
        font-size: 2.6vw;
    }


}

@media (height <= 726px){

    .half{
        height: 140vh;
    }
    .places{
        height: 135vh;
    }
    .main{
        height: 145vh;
    }

}
